.columna1 {
    width: 20%;
    height: 60%;
    position: absolute;
    background: yellow;
}

.columna2 {
    width: 50%;
    height: 60%;
    position: absolute;
    right: 28%;
    background: rgba(255, 255, 44, 0.576);
}