/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*General*/
body {
    margin: 0px;
    background-color: #212121;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*cabecera*/
.cabecera {
    background-color: #161616;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: sticky;
    top: 0px;
}

.Flatspot {
    max-width: 240px;
}

.log {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

a.regis,
a.iniSesion {
    color: #eff1e1;
    font-size: 26px;
    text-decoration: none;
}

a.regis:hover,
a.iniSesion:hover {
    text-decoration: none;
    color: #EF8354;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.menu a {
    color: #eff1e1;
    font-size: 22px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    color: #EF8354;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 200
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*cuerpo del inicio*/
.parte1,
.parte2,
.parte3 {
    color: #eff1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 10%;
}

.parte1 h1,
.parte2 h1,
.parte3 h1 {
    font-size: 55px;
}

.parte1_1 h1 {
    font-size: 55px;
}

.divImagenBluntslide {
    background-image: url("./../img/bluntslide.jpg");
    min-width: 459px;
    min-height: 686px;

}

.divImagenKickflip {
    width: 459px;
    height: 686px;
    background-image: url("./../img/adianDelCampoKickflip.jpg");

}

.divImagenSk8land {
    width: 459px;
    height: 686px;
    background-image: url("./../img/sk8land.jpg");

}

.tiraVertical {
    background-color: #EF8354;
    height: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.textoMarcas {
    background-color: #eff1e1;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.listaMarcas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.listaMarcas img {
    width: 12%;
    aspect-ratio: 16/9;
    object-fit: contain;
    mix-blend-mode: darken;
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*Cuerpo de zapatillas*/

div.producto {
    margin: 25px;
    width: 400px;
    height: 450px;
    background-color: #eff1e1;
    border: #EF8354 8px solid;
    border-radius: 20px 70px;
    padding: 20px;
    display: inline-block;
}

.nombre {
    font-size: 30px;
}

.imagenContenedor {
    width: 350px;
    height: 350px;
}

img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.precio {
    font-size: 30px;
    font-weight: 600;
}

a.anadirCarrito {
    margin-left: 40px;
    background-color: #EF8354;
    color: #eff1e1;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px 10px;
}

a.anadirCarrito:hover {
    background: #212121;
    color: #eff1e1
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*media*/

@media (min-width: 400px) and (max-width: 700px) {
    .cabecera {
        background-color: #161616;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0px;
        position: sticky;
        top: 0px;
    }

    .log {
        gap: 0px;
    }

    .menu {
        flex-direction: column;
        gap: 0px;
    }

    .parte1,
    .parte2,
    .parte3 {
        color: #eff1e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        gap: 10%;
    }
}

@media (max-width: 400px) {
.cabecera {
    background-color: #161616;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    position: sticky;
    top: 0px;
}

.log {
    gap: 0px;
}

.menu {
    flex-direction: column;
    gap: 0px;
}

.parte1,
.parte2,
.parte3 {
    color: #eff1e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 10%;
}
}