@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

* {
    font-family: 'Maven Pro', sans-serif;
}

body {
    margin: 0px;
    background-color: #212121;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

.cabecera {
    background-color: #161616;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: sticky;
    top: 0px;
}

.titulo {
    background-color: #131313;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Flatspot {
    max-width: 240px;
}

.log {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

a.regis,
a.iniSesion {
    color: #eff1e1;
    font-size: 26px;
    text-decoration: none;
}

a.regis:hover,
a.iniSesion:hover {
    text-decoration: none;
    color: #EF8354;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.menu a {
    color: #eff1e1;
    font-size: 22px;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    color: #EF8354;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 200
}

.parte1,
.parte2,
.parte3 {
    color: #eff1e1;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 40px;
    gap: 10%;
}
.parte1_1 h1{
    font-size: 55px;
}

.divImagenBluntslide {
    background-image: url("./../img/bluntslide.jpg");
    min-width: 459px;
    min-height: 686px;
<<<<<<< HEAD
    
}
.divImagenKickflip{
=======

}

.divImagenKickflip {
>>>>>>> ff75e0c184a22f6b2c2ee7df936044fbaec5922e
    width: 459px;
    height: 686px;
    background-image: url("./../img/adianDelCampoKickflip.jpg");

}
<<<<<<< HEAD
.divImagenSk8land{
=======

.divImagenSk8land {
>>>>>>> ff75e0c184a22f6b2c2ee7df936044fbaec5922e
    width: 459px;
    height: 686px;
    background-image: url("./../img/sk8land.jpg");

}
<<<<<<< HEAD
.tiraVertical{
    background-color: #161616;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.textoMarcas{
    background-color: #eff1e1;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.listaMarcas{
=======

.cuerpo {
    position: relative;
    z-index: 2;
    color: #eff1e1;
>>>>>>> ff75e0c184a22f6b2c2ee7df936044fbaec5922e
    display: flex;
    flex-direction: row;
    justify-content: space-around;

<<<<<<< HEAD
}
.listaMarcas img {
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
=======
.texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
>>>>>>> ff75e0c184a22f6b2c2ee7df936044fbaec5922e
